// Project Animations
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Multiply Animation Mixin
@mixin animations($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }

  animation: $animations;
}


// Keyframes example
//////////////////////////////////////////////////////

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hit {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes upgrade {
  from {
    opacity: 0;
  }

  16% {
    opacity: 0.9;
  }

  32% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  66% {
    opacity: 0.0;
  }

  84% {
    opacity: 0.3;
  }

  to {
    opacity: 0;
  }
}

@keyframes effect {
  from {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
