// Project Animations
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Multiply Animation Mixin
@mixin animations($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }

  animation: $animations;
}


// Keyframes example
//////////////////////////////////////////////////////

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
