// Project Utilities
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Animation utility example
//////////////////////////////////////////////////////

// $animation-duration: $transition-duration * 3;

// .fadeAndLeft {
//  will-change: transform, opacity;
//  @include animations("left #{$animation-duration}", "fade #{$animation-duration}");
//}

.spin {
  will-change: transform;
  animation: spin linear $animation-duration infinite;
}

.damage {
  will-change: opacity;
  animation: hit $animation-duration infinite;
}

.not {
  will-change: opacity;
  animation: scaleNot $animation-duration infinite;
}

.blink {
  will-change: opacity;
  animation: blink $animation-duration infinite;
}

.upgrade {
  will-change: opacity;
  animation: upgrade $animation-duration infinite;
}

